IMG_PREFIX=santa
SMB_REALM=example.com
SMB_HOSTNAME=ad.example.com
SMB_DOMAIN=EXAMPLE
SMB_OU=DC=example,DC=com
SMB_ADMIN_PASSWORD=dette_ER_et%LANGTordSOMkanskjeERnok
# Should have CN and SAN for SMB_HOSTNAME 
SMB_CERT=/etc/ssl/private/ad_tls.crt
SMB_KEY=/etc/ssl/private/ad_tls.key
# Have you local/test machine trust this
SMB_CA=/etc/ssl/private/root-ca.pem
